<mat-toolbar>
  <span>Indé Compta</span>
</mat-toolbar>

<input type="file" accept="text/csv" (change)="onFileUpload($event)">


<div class="content">
  <p>CA HT : {{CA_HT | currency}}</p>
  <p>URSSAF : {{URSSAF | currency}}</p>
  <p>TVA : {{TVA | currency}}</p>
  <p>Bénéfices : {{benef | currency}}</p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{element.date}} </td>
    </ng-container>

    <!-- Label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Label</th>
      <td mat-cell *matCellDef="let element">{{element.label}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{element.amount | currency}} </td>
    </ng-container>

    <!-- TVA Column -->
    <ng-container matColumnDef="TVA">
      <th mat-header-cell *matHeaderCellDef>TVA</th>
      <td mat-cell *matCellDef="let element">{{element.TVA | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>


