<mat-toolbar>
  <span>Indé Compta</span>
</mat-toolbar>

<input type="file" accept="text/csv" (change)="onFileUpload($event)">


<div class="content">
  <p>CA HT : {{CA_HT | currency}}</p>
  <p>URSSAF : {{URSSAF | currency}}</p>
  <p>TVA : {{TVA | currency}}</p>
  <p>Bénéfices : {{benef | currency}}</p>

  <mat-tab-group>
    <mat-tab label="Transactions">
      <app-transactions-table [transactions]="transactions"></app-transactions-table>
    </mat-tab>
    <mat-tab label="Solde">
      <app-solde-chart [soldes]="soldes"></app-solde-chart>
    </mat-tab>
  </mat-tab-group>

</div>


